{% extends 'layout.html.twig' %}

{% block content %}
  <br><br><br>

<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Monday</div>
      <img src="{{ monday.meals.0.strMealThumb }}" width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ monday.meals.0.strMeal }}</h5>
        <p class="card-text">{{  monday.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Tuesday</div>
      <img src="{{ tuesday.meals.0.strMealThumb }}" width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ tuesday.meals.0.strMeal }}</h5>
        <p class="card-text">{{ tuesday.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Wednesday</div>
      <img src="{{ wednesday.meals.0.strMealThumb }}" width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ wednesday.meals.0.strMeal }}</h5>
        <p class="card-text">{{ wednesday.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Thursday</div>
      <img src="{{ thu.meals.0.strMealThumb }}"  width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ thu.meals.0.strMeal }}</h5>
        <p class="card-text">{{ thu.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>

   <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Friday</div>
      <img src="{{ fri.meals.0.strMealThumb }}"  width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ fri.meals.0.strMeal }}</h5>
        <p class="card-text">{{ fri.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>


   <div class="col">
    <div class="card text-white bg-success mb-3">
	 <div class="card-header fw-bold">Saturday</div>
      <img src="{{ wednesday.meals.0.strMealThumb }}"  width="100px" class="card-img-thumb" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ wednesday.meals.0.strMeal }}</h5>
        <p class="card-text">{{ wednesday.meals.0.strInstructions }}</p>
      </div>
    </div>
  </div>

</div>


</div>
{% endblock %} 
