<div class="container">
	<div class="row p-5">
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Monday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests.meals.0.strIngredient4}}</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Tuesday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests1.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests1.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests1.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests1.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests1.meals.0.strIngredient4}}</li>

					</ul>

				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Wednesday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests2.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests2.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests2.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests2.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests2.meals.0.strIngredient4}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Thursday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests3.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests3.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests3.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests3.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests3.meals.0.strIngredient4}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Friday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests4.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests4.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests4.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests4.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests4.meals.0.strIngredient4}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Saturday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests5.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests5.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests5.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests5.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests5.meals.0.strIngredient4}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-sm-12">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Sunday</div>
				<div class="card-body">
					<h5 class="card-title">{{ tests6.meals.0.strMeal }}</h5>
					<ul>
						<li class="card-text">{{ tests6.meals.0.strIngredient1}}</li>
						<li class="card-text">{{ tests6.meals.0.strIngredient2}}</li>
						<li class="card-text">{{ tests6.meals.0.strIngredient3}}</li>
						<li class="card-text">{{ tests6.meals.0.strIngredient4}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
