
    <div class="container">
        <div class="row p-5 opacity-75">  

            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card gradient inVgradient shadow bg-white mb-3">
                    <div class="card-header text-white fw-bold"><i class="bi bi-calendar"></i></i> Monday</div>
                        <div class="card-body">
                            <h5 class="card-title text-white fw-bold"><i class="bi bi-egg-fried"></i> {{ monday.meals.0.strMeal }}</h5>
                            <p class="card-text"><img src="{{ monday.meals.0.strMealThumb }}" width="100px" alt=""/></p><p class="text-white fw-bold"> {{ monday.meals.0.strInstructions }}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card gradient inVgradient shadow mb-3">
                    <div class="card-header text-white fw-bold"><i class="bi bi-calendar"></i> Tuesday</div>
                        <div class="card-body">
                            <h5 class="card-title text-white fw-bold"><i class="bi bi-egg-fried"></i> {{ tuesday.meals.0.strMeal }}</h5>
                            <p class="card-text"><img src="{{ tuesday.meals.0.strMealThumb }}" width="100px" alt=""/></p><p class="text-white fw-bold"> {{ tuesday.meals.0.strInstructions }}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card gradient inVgradient shadow mb-3">
                    <div class="card-header text-white fw-bold"><i class="bi bi-calendar"></i> Wednesday</div>
                        <div class="card-body">
                            <h5 class="card-title text-white fw-bold"><i class="bi bi-egg-fried"></i> {{ wednesday.meals.0.strMeal }}</h5>
                            <p class="card-text"><img src="{{ wednesday.meals.0.strMealThumb }}" width="100px" alt=""/></p><p class="text-white fw-bold"> {{ wednesday.meals.0.strInstructions }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>